BUILDKIT_PROGRESS=plain

# TOTAL_USERS=20
# CONCURRENCY=20
# # VIDEO_ENABLE=true
# # AUDIO_ENABLE=true
# JOIN_URL=https://meet.datanusantara.com/testingloadtest002
# STAY_SECONDS=300
# JITSI_TEST_SERVER_NAME=SDI

JITSI_TEST_SERVER_NAME=SDI
APP_ID=
APP_SECRET=
JITSI_SUB=meet.datanusantara.com 
JITSI_DOMAIN=meet.datanusantara.com  
TOTAL_USERS=1 
CONCURRENCY=1 
VIDEO_ENABLE=true 
STAY_SECONDS=3000 